@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

h2 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 2rem;
  text-align: center;
}

.product_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 26rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.151);
  position: relative;
  padding: 1rem;
  border: 2px solid rgb(236, 225, 207);
  background-color: rgba(236, 225, 207, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.product_card_container img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgb(16, 3, 29);
}

.product_card_price {
  color: white;
  background-color: rgb(16, 3, 29);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6.5rem;
  right: 4rem;
  border: 2px solid white;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.151);
  z-index: 2;
}

.btn-perso {
  color: white;
  background-color: rgb(16, 3, 29);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.151);
  border: 1px solid rgb(16, 3, 29);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.product_card_description {
  padding: 0.5rem;
}

.product_card_category {
  padding: 0.2rem;
}

.product_card_category::before {
  content: "";
  display: inline-block;
  height: 0.2rem;
  width: 1.5rem;
  background-color: rgb(94, 11, 172);
  margin-right: 0.7rem;
}

.product_card_category::after {
  content: "";
  display: inline-block;
  height: 0.2rem;
  width: 1.5rem;
  background-color: rgb(98, 15, 175);
  margin-left: 0.7rem;
}

.md-warning {
  padding: 0.4rem;
  border: 1px solid rgb(184, 126, 19);
  background-color: rgb(167, 116, 23);
  color: white;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
.warning {
  padding: 0.4rem;
  border: 1px solid rgb(83, 13, 13);
  background-color: rgb(83, 13, 13);
  color: white;
  border-radius: 0.5rem;
  margin: 0.2rem;
}

@keyframes bounce {
    0% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(-5px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
    transform: translateX(5px);
    }

    100% {
      transform: translateX(0);
    }
  }

.alert {
    animation-name: bounce;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


