<div class="about_container">
	<h2>About</h2>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam vitae placeat consectetur accusantium consequatur modi itaque odit et, corporis rem quos quas vero delectus eveniet omnis labore praesentium doloremque ipsa.</p>

	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam vitae placeat consectetur accusantium consequatur modi itaque odit et, corporis rem quos quas vero delectus eveniet omnis labore praesentium doloremque ipsa.</p>

	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam vitae placeat consectetur accusantium consequatur modi itaque odit et, corporis rem quos quas vero delectus eveniet omnis labore praesentium doloremque ipsa.</p>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam vitae placeat consectetur accusantium consequatur modi itaque odit et, corporis rem quos quas vero delectus eveniet omnis labore praesentium doloremque ipsa.</p>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam vitae placeat consectetur accusantium consequatur modi itaque odit et, corporis rem quos quas vero delectus eveniet omnis labore praesentium doloremque ipsa.</p>
</div>
